html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#world, #hud{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  touch-action:none;
}

#world{
  position: absolute;
  z-index: 5
}

#hud{
  position: absolute;
  z-index: 10;
}
body {
   cursor: url('http://www.gravatar.com/avatar/06ededb95f1c0b1f4f9d987e06d7d82b?s=32&d=identicon&r=PG'), pointer;
}
